#first{
background-color: red;
width: 100px;
height: 100px;
/* display: inline-block;
position:relative;
left: 210px; */
/* position: static; */
position: absolute;
right: 0;
bottom: 0;
}


#container{
border: 1px solid grey;
width: 500px;
height: 500px;
position: relative;
left: 150px;
}

#second{
    background-color: green;
    width: 100px;
    height: 100px;  
    /* display: inline-block;
    position: relative;
   right: 100px; */
}

#third{
    background-color: blueviolet;
    width: 100px;
height: 100px;
/* display: inline-block;
position: relative;
right: 100px; */
}