*{
background-color: #bdc3c7;
margin: 0;
padding: 0;


}



h1{

background-color: #8e44ad;
color: #f1c40f;
text-align: center;
font-size: 24px;

}

/* id classi class element selekterunu eziyor */

#head1 {
color: black;
background-color: aquamarine;
margin: 1px;
padding: left;
font-size: 36px;
font-style: italic;

}

.title {

color: #8e44ad;
font-size: larger;
font-weight: 500px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 
'Lucida Grande', 'Lucida Sans Unicode', 
Geneva, Verdana, sans-serif;


}

#head2{
    text-align: justify;

    color:chocolate;
}


.description{

color: #27ae60 ;


}
p.description{

    background-color: darkblue;
    text-align: center;
}


a{
    text-decoration: none;
}

a:active {
    color:chartreuse;
}

a:visited {
    
color:rgb(255, 0, 0);

}
a:hover {
font-size: larger;
color:#260ff1;

}

ul{
    margin: 25px;
    padding: 15px;
}

.list {
    border:  1px solid black;
    margin-left: 30px;
line-height: 24px;
list-style-type:circle;
list-style-position: inside;
/*list-style-position: outside;*/

}