@font-face {
font-family: myFont;
src: url('./font/Montserrat/static/Montserrat-ExtraBoldItalic.ttf');

}

@font-face {
font-family:  firstFont;
src:url('./font/Montserrat/static/Montserrat-ExtraLightItalic.ttf');

}
@font-face {
    font-family: secondFont;
    src: url('./font/PTMono-Regular.ttf');
}



*{

margin: 0px;
padding: 0px;


}

.container{
    display:grid
    margin: auto;
    width: 70%;
}


/* id classi class element selekterunu eziyor */

#head1{
    font-family: myFont;
    font-size: 24px;
    width: 300px;
    padding: 50px;
    border: 1px solid gray;
    margin: 3vh 6vw;
    box-sizing: border-box;
    
   

color: #f10f8b;


}

.title{
   

    font-size: 48px;
    background-color: aquamarine;
    font-weight: 500;
    
    
    }

    #head2{
        /*margin-bottom: 10px;
        margin-left: 20px; */

        margin: 5px 10px 5px 20px;
        color:#9b59b6 ;
        text-align: left;
    }

h1{
color: red;
text-align: center;

}

p{

    color: rgb(100, 100, 255);
    font-size: 24px;
    font-weight: 100;
}



p.description{
    font-family: firstFont;
margin: 2em;
font-size: 24px;

}

h3.description{
    font-family: 'Metal Mania', cursive;
    margin: 5%;
    border-width:2px 5px 3px 4px; /* top right bottom left */
    padding: 20px;
    border-style: solid;
    border-color: blue;

    color:rgba(255, 10, 15, 0.8);

}

#cont {
    
    font-family: secondFont;
   text-align: left;
   text-decoration:dotted;
    margin: auto;
    width: 20%;


}
