*{
background-color: bisque;
margin: 0px;
padding: 0px;

}


h1{
color: blue;
text-align: center;

}

p{

    color: red;
    font-size: 24px;
    font-weight: 100;
}

h1{

    color: red; /* en son yazilan kodu uygular*/
}