*{

margin: 0px;
padding: 0px;


}

/* id classi class element selekterunu eziyor */

#head1{

color: #f1c40f;


}

.title{
    font-size: 48px;
    background-color: aquamarine;
    font-weight: 500;
    
    
    }

    #head2{
        color:#9b59b6 ;
    }

h1{
color: red;
text-align: center;

}

p{

    color: red;
    font-size: 24px;
    font-weight: 100;
}



.description{

font-size: 24px;

}

p.description{

    color:#e67e22;

}

