@font-face{
    font-family: lora; 
    src: url('./font/Lora-Italic-VariableFont_wght.ttf');

}

body{
    background-color: burlywood;
}

div.head1{

    background-color: aqua;
    text-align: center;
    padding: 3%;
    margin-left: 10px;
}

.head1{
border: 2px;
border-radius: 15px;
color: crimson;
font-size: larger;
font-family: monospace;
font-style: oblique;
width: 100%;


}


div.head2{
background-color: chocolate;
height: 100px;
text-align: center;
text-decoration: underline;
text-indent: 5em ;

}

.head2{
color: blueviolet;

}
hr{
    border: 1em solid green;
}

.text1{
    color: black;
  text-align-last: left;
  font-family: fantasy;
  border: 3px  solid black;
  border-radius: 5px;
}

h3.description{
color: blue;
font-size: larger;
font-family: lora;

}

.container{
    background-color: chartreuse;
    border: 2px solid rgb(255, 0, 149);
    border-radius: 15px;
    margin:  auto;
    padding: 10px;
}

.description{

color: rgb(40, 20, 220); !important;
font-size: x-large !important;


}

p{
    color: brown;
    font-size: 24px;
    font-family: cursive;
}

a{

   text-decoration: none;
}

a:active{
    color:  rgb(14, 11, 11);
}

a:visited{
    color: red;
}

a:hover{
    color: darkgreen;
    font-size: larger;
}

ol{
background-color:#a29bfe;
margin: 30px;
padding: 15px;


}

li{
    background-color: #00cec9;
    border: 2px solid red;
}

.list{
    border: 2px solid #2d3436;
    margin-left: 30px;
    padding: 20px;
    line-height: 24px;
    list-style-type: square;
   /*list-style-image: url('./gif/d1.gif');*/


}
